[workspace]
resolver = "3"
members = ["src-tauri", "lib/tauri-plugin-canvas", "lib/canvas"]

[workspace.dependencies]
tauri-plugin-canvas = { path = "lib/tauri-plugin-canvas" }

canvas = { path = "lib/canvas" }
glam = "0.30.9"
anyhow = "1.0.100"
